body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table-responsive table .rowTransac td{
  vertical-align: middle;
}
.rowTransac td .fa-download{
  font-size: 3em;
  text-align: center;
  width: 100%;
}